In [54]:
import numpy as np
import pandas as pd
#TODO may need to add these two packages as dependencies
import pycountry_convert as pc
import tomllib

#TODO change this src to the correct one
config_src = "config.toml"
with open(config_src, "rb") as f:
    CONFIG = tomllib.load(f)

In [56]:
bill_src = CONFIG["DATA_FOLDER"] + "raw/Billionaires_Statistics_Dataset.csv"
country_src = CONFIG["DATA_FOLDER"] + "raw/world-data-2023.csv"
bill_data = pd.read_csv(bill_src) 
country_data = pd.read_csv(country_src)

In [57]:
#removing unneeded columns and renaming columns in country data
country_data.drop(columns=CONFIG["COUNTRY"]["DROP"], inplace=True)
country_data.rename(columns=CONFIG["COUNTRY"]["RENAME"], inplace=True)

#fixing sao tome and princepe 
country_data["country"].iloc[150] = "Sao Tome and Principe"

In [58]:
#dropping columns from the billionaires dataset
bill_data.drop(columns=CONFIG["BILLIONAIRES"]["DROP"], inplace=True)

In [86]:
#wrangling the billionaires dataframe to be country and # of billionaires

num_bill = bill_data.groupby("country").count()["rank"]
num_bill.rename("count", inplace=True)

country
Algeria             1
Andorra             1
Argentina           4
Armenia             1
Australia          43
                 ...
United Kingdom     82
United States     754
Uruguay             1
Uzbekistan          1
Vietnam             6
Name: count, Length: 78, dtype: int64

In [133]:
#merging country data with number of billionaires per country
full_num_bill = pd.merge(num_bill, country_data, on="country", how="outer")

#setting all na in billionaire count to 0
full_num_bill.loc[pd.isna(f["count"]), "count"] = 0

In [135]:
#writing the number of billionaires per country dataset to a file
full_num_bill.to_csv(CONFIG["DATA_FOLDER"] + "/interim/num_bill.csv", index=False)